   
   .left{
    width: 30%;
    float: left;
  }
  .right{  
   width:70%;
   float: right;
 }
 .wrap{
   z-index: 9999;
 }
 .modal-content{
   background-color: #fff;
 }
 .pagin-wrap p{
   color: #000;
 }



 
  .pusher8  {
 
background: rgb(255, 255, 255);
  display: block;
  /* margin: 0 auto;  */
    padding: 0px 24px 20px;
  /* padding: 10px 5px 3px 26px; */
  margin-bottom: 4px;
  box-shadow: 0 0 0.5px rgb(0 0 0 / 50%);
  height: auto;  
  box-sizing: border-box; 
  font-size: 12px;
  line-height: 20px;
  min-height: 845px; 
}
/* .pusher1 .resumeLeft .leftWrap */

 
.pusher8 ul ul li,.pusher8 ol ul li {   
margin-bottom: 5px;
text-align: justify;
} 
.pusher8 ul ul li p,.pusher8 ol ul li p {   
margin-bottom: 0px; 
}

 
.pusher8 p, .pusher8 span, .pusher8 p ul li,.pusher8 p ul li div,.pusher8 p ol li div {
font-size: 8px;
line-height: 16px; 
text-align: justify;
word-break: break-word;
overflow: hidden;
}
 
.pusher8 ul ul li p span,.pusher8 ol ul li p span {   
margin-bottom: 0px;  
font-size: 8px; 
line-height: 16px;
text-align: justify;
/* word-break: break-word; */
overflow: hidden;
margin-bottom: 0px;
}
 
.pusher8 .resumeMake .resumeLeft .skill-line p span:nth-child(1) {  
width:100%;
display: inline-block;
}
 
.pusher8  .skill-line .language {
display: flex; 
margin-bottom: 10px;
}
 
.pusher8  .skill-line .language span {
width: 66px;
line-height: 16px;
/* word-break: break-all; */
overflow: inherit;
} 
.pusher8 .skill-line .lang 
{
padding-left: 12px;
} 
.pusher8 .skill-line .lang span {
width: 7px;
height: 7px;
border-radius: 7px;
background-color: rgb(36, 35, 35);
display: inline-block;
margin-right: 5px;
} 
.pusher8  .skill-line .progress   {
position: relative;
height: 4px;
display: block;
width: 100%;
background-color:rgb(172, 236, 230);
border-radius: 2px;
margin: 0.3rem 0 1rem 0;
overflow: hidden;
} 
.pusher8  .skill-line .progress {

background-color: rgb(153, 153, 153);
height: 6px;
overflow: visible;
} 
.pusher8  .skill-line .progress .determinate {
position: absolute;
background-color: inherit;
top: 0;
bottom: 0;
background-color: rgb(34, 34, 34);
-webkit-transition: width .3s linear;
transition: width .3s linear;
}
 
.pusher8 .resumeMake h1 
{ 
font-size: 15px;
line-height: 20px;
margin-bottom: 0px;
padding: 5px 0px;
text-transform: capitalize;
}  
.pusher8 p, .pusher8 .skill-line p, .pusher8 .skill-line p span, .pusher8 p ul li {

font-size: 8px;
  line-height: 18px;
  margin-bottom: 4px;
  text-align: justify;
  word-break: break-word;
  overflow: hidden;
}

 
.pusher8 .resumeLeft{
  min-height:845px;    
background: rgb(239, 242, 247);
} 
.pusher8 .resumeLeft{
padding: 0px;
}
 
.pusher8 .workExp 
{ 
  min-height:845px;    
padding: 0px 15px 40px 10px;
 /* padding: 0px 19px; */
} 
.pusher8 .workExp 
{ 
padding: 0px 5px 40px 10px;
min-height:845px;    
 /* padding: 0px 19px; */
}
 
.pusher8 span.float-r  {
float: right;
/* height: 0px; */
} 
.pusher8  .resumeMake .skill-line h4, 
.pusher8  .workExp h4 {
padding: 8px 0px 0px;
font-size: 8px;
  line-height: 18px;
margin-bottom: 0.4rem;
font-weight: 600;
} 
.pusher8  .resumeMake .custom-content-wrap  {
border-bottom: 0.2px solid rgb(221, 221, 221);
  margin-bottom: 10px;
  letter-spacing: 0.5px;  
} 
.pusher8  .address_bar ul {
list-style-type: none;
padding: 0px;
margin: 0px;
} 
.pusher8 .address_bar ul li a {
margin-top: 0;
margin-bottom: 0;
font-size: 8px;
  line-height: 18px;
text-align: left;
display: flex;
word-break: break-all;
width: 100%;
padding: 0;
}
 
.pusher8 .address_bar ul li a i  {
color: rgb(27, 74, 255); 
font-size: 8px;
  line-height: 18px;
text-align: left;
margin-bottom: 4px;
margin-right: 7px;
margin-top: 0px;
 
} 
.pusher8 .title_bar {
background-color: rgb(42, 42, 43); 
} 
.pusher8 .address_bar ul li a i{
color: rgb(2, 2, 2);
font-size: 8px;
line-height: 18px;
} 
.pusher8  .workExp {
  min-height:845px;    
background-color: rgb(255, 255, 255);
} 
.pusher8  .resumeLeft{
min-height:842px;
}
 
.pusher8 .title_bar  {
color: rgb(255, 255, 255);
padding: 4px 11px;
border-radius: 3px;
line-height: 18px;
margin-top: 0px;
margin-bottom: 17px;
top: 5px;
position: relative; 
} 
.pusher8  .resumeMake h6 {
font-size: 12px;
line-height: 13px;
} 
.pusher8 .custom-content_2
{
background: orange;
padding: 14px 14px;
} 
.pusher8 .skills {
  padding: 0 5px;
}
 
.pusher8  .resume-item-details img{
width: 100%;
height:200px;
-o-object-fit: cover;
object-fit: cover;
margin-top: 0px;
margin: auto;
overflow: hidden;
display: block;
border-radius: 0px;
} 
* ul {
margin-top: 0;
margin-bottom: 0rem;
padding-left: 0px;
margin-left: 0px;
list-style-type: none;
}

* ul ul{
list-style-type: disc;
margin-left: 11px;
padding-left: 4px;
}
* ol{
list-style-type: decimal;
margin-left: 5px;
padding-left: 0px;
}
* ul ol li{
list-style-type: decimal;
margin-left: 8px;
padding-left: 5px;
}
.page {
      width: 210mm;
      min-height: 297mm;
      padding: 20mm;
      margin: 10mm auto; 
      border-radius: 5px; 
  }